@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d97706;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b45309;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove default margins */
body {
  margin: 0;
  padding: 0;
}